<%- include("header"); -%>

    <div class="box" id="heading">
        <h1>
            <%= kindOfDay %>
        </h1>
    </div>

    <div class="box">

        <% for(let i=0; i<newListItems.length; i++) { %>
            <div class="item">
                <input type="checkbox">
                <p>
                    <%= newListItems[i] %>
                </p>
            </div>
            <% } %>

                <form class="" action="/" method="post">
                    <input type="text" name="newItems" placeholder="New Item" autocomplete="off">
                    <button type="submit" name="list" value = "<%= kindOfDay %>">+</button>
                </form>
    </div>

<%- include("footer"); -%>